<link rel="stylesheet" type="text/css" href="css/style.css">
{}

/* ------------------------------ */
/* ------------ FONT ------------ */
/* ------------------------------ */

@font-face {
    font-family: "Inter-Regular";
    src: url("/font/Inter-Regular.ttf");
  }
@font-face {
    font-family: "Inter-Medium";
    src: url("/font/Inter-Medium.ttf");
  }
@font-face {
    font-family: "Inter-SemiBold";
    src: url("/font/Inter-SemiBold.ttf");
  }
  
.Inter-Regular {
    font-family: Inter-Regular;
}
.Inter-Medium {
    font-family: Inter-Medium;
}
.Inter-SemiBold {
    font-family: Inter-SemiBold;
}

/* ------------------------------ */
/* --------- FONT SIZES --------- */
/* ------------------------------ */

.fs-20 {
    font-size: 20px;
}

.fs-14 {
    font-size: 14px;
}








body {
    background-color: #DEE1E6;
    margin: 0px;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.presentation, .qrBox, .informations, .restauration {
    background-color: #EEF0F2;
    border-radius: 16px;
    padding: 16px;
}

.menu {
    background: linear-gradient(86.76deg, #24C251 20.67%, #2EB5BD 106.66%);
    border-radius: 0px 0px 18px 18px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 24px 28px;
}

.menu-left {
    display: flex;
    gap: 16px;
    margin: 2px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.headerTitles h1, .headerTitles h2 {
    margin: 0px;
}

.container {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}