/* ------------------------------ */
/* ------------ FONT ------------ */
/* ------------------------------ */
  
.InterRegular {
    font-family: Inter;
    font-weight: 400;
}
.InterMedium {
    font-family: Inter;
    font-weight: 500;
}
.InterSemiBold {
    font-family: Inter;
    font-weight: 600;
}

/* ------------------------------ */
/* --------- FONT SIZES --------- */
/* ------------------------------ */

.fs-48 {
    font-size: 48px;
}
.fs-24 {
    font-size: 24px;
}
.fs-20 {
    font-size: 20px;
}
.fs-18 {
    font-size: 18px;
}
.fs-16 {
    font-size: 16px;
}
.fs-14 {
    font-size: 14px;
}
.fs-12 {
    font-size: 12px;
}

/* ------------------------------ */
/* --------- FONT COLORS -------- */
/* ------------------------------ */

.fc-dark9 {
    color: #1E2127;
}
.fc-dark8 {
    color: #4F5765;
}
.fc-dark7 {
    color: #89909D;    
}
.fc-white10 {
    color: #fff;
}



/* ------------------------------ */
/* ------- FONT BACKGROUND ------ */
/* ------------------------------ */

.fb-darkGreen {
    background-color: #2FAA52;
}

.fb-dark7 {
    background-color: #89909D;
}






body {
    background-color: #DEE1E6;
    margin: 0px;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.presentation, .qrBox, .informations, .restauration {
    background-color: #EEF0F2;
    border-radius: 16px;
    padding: 16px;
}

.menu {
    background: linear-gradient(86.76deg, #24C251 20.67%, #2EB5BD 106.66%);
    border-radius: 0px 0px 18px 18px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 24px 28px;
}

.menu-left {
    display: flex;
    gap: 16px;
    margin: 2px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.headerTitles h1, .headerTitles h2 {
    margin: 0px;
}

.container {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.presentation {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.presentation h3 {
    margin: 0px;
}

.ImportantPres {
    z-index: 10;
}

.illuBurger {
    height: 136px;
}

.decoA {
    position: absolute;
    width: 400px;
    height: 400px;
    right: -130px;
    top: -40px;
    z-index: 0;
}

.button-2nd {
    background-color: #1E2127;
    color: #fff;
    border: none;
    padding: 12px 16px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 8px;
}

.button-2nd p {
    margin: 0px;
}

.contentsTail {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.qrBox {
    display: flex;
    align-items: center;
    gap: 16px;
}

.txtQRcode {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
}

.txtQRcode p, .txtQRcode h3 {
    margin: 2px;
}

.miniCTAqrcode {
    padding: 4px 6px;
    border-radius: 4px;
    /*width: 21vh;*/
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.informations p {
    margin: 0px;
}

.waitTime {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otherStats {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 16px;
}

.statInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    padding: 12px;
}

.ButtonFileAttente {
    border: none;
    padding: 16px;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.ButtonFileAttente img {
    height: 16px;
}

.ButtonFileAttente p {
    margin: 0px;
}




